body {
    background-color: rgb(19, 19, 19);
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    font-family: 'Roboto', sans-serif;;
} 
.top {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.title {
    width: 50%;
}
h1 {
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
}
h2 {
    font-size: 15px;
    font-weight: lighter;
    color:#d4d1d1;
    margin-top: 0;
}
#search-container {
    width: 50%;
    overflow: hidden;
}
#input {
    height: 40px;
    width: 50%;
    border:1px solid rgb(126, 126, 126);
    border-radius: 15px;
    font-size: 25px;
    display: block;
    background-color: #272727;
    color: rgb(255, 255, 255);
    float: right;
}
#input:focus {
    outline: none;
}
::placeholder {
    color: rgb(170, 169, 169);
}
:hover::placeholder {
    color:white
}
#table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height: 90vh;
    display: block;
    overflow-x: auto;
}
#table::-webkit-scrollbar {
    display: none;
}
tr {
    height: auto;
}
.header {
    background-color:#272727;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(126, 126, 126);
    position: sticky;
    top: 0;
    z-index: 5;
}
.coinInfo {
    background-color:#272727;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: sticky;
    z-index: 7;
    left: 0;
    min-width: 100px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.coinRank {
    padding-right: 17px
}
.number {
    text-align: right;
    z-index: 6;
}
.coinMarketCap {
    padding-right: 5px;
}
.row {
    height: 58px;
    max-height: 58px;
    border-bottom: 1px solid rgb(126, 126, 126);
    overflow: hidden;
}
.coinDiv {
    display: flex;
    min-width: 230px;
}
.coin {
    display: flex;
    flex-direction: row;
    min-width: 100px;
    background-color: rgb(19, 19, 19);
    -webkit-appearance: none;
    -moz-appearance: none;
    position: sticky;
    position: -webkit-sticky;
    z-index: 4;
    left: 0;
    top: 0;
    text-align: left;
    padding-top: 17px;
    padding-bottom: 17px;
}
.rankDiv {
    display: inline;
}
.rank {
    align-self:center;
    font-size: 15px;
    padding-left: 4px;
    padding-right: 20px;
}
.imageDiv {
    display: inline;
}
.imageContent {
    height: 20px;
    width: 20px;
    padding-right: 5px;
    vertical-align: middle;
}
.name {
    font-weight: bolder;
    font-size: 15px;
    vertical-align: top;

}
.symbol {
    color:#9e9a9a;
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
    vertical-align: middle;
}
.searchDiv {
    display: inline;
    flex: 1 1 auto;
}
.search {
   align-items: flex-start;
   flex-direction: column;
   vertical-align: sub;
}
.num {
    z-index: 1;
    font-size: 14px;
    text-align: right;
    width: 600px;
    padding-left: 20px;
}

